.collection-form {
  margin: 0 auto;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;

  input[type='checkbox'] {
    cursor: pointer;
    vertical-align: middle;
  }

  input[type='text'] {
    font-family: 'Didact Gothic', sans-serif;
    width: 100%;
    height: 30px;
    display: block;
    line-height: 1.21;
    padding: 11px 20px 12px 5px;
    min-width: 100px;
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    font-size: 14px;
    margin: 0.2rem auto;
  }

  &__description {
    font-family: 'Didact Gothic', sans-serif;
    width: 100%;
    min-height: 100px;
    min-width: 200px;
    display: block;
    line-height: 1.21;
    padding: 11px 20px 12px 5px;
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    font-size: 14px;
    margin: 0.2rem auto;
    resize: none;
  }

  &__group {
    width: 100%;
    margin: 0.5rem auto;
  }

  &__image {
    background-image: url('../../assets/placeholder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    min-height: 300px;
    min-width: 300px;
    max-height: 400px;
    max-width: 600px;
    display: block;
  }

  &__image-loaded{
    background-image: none;
    background-color: #fff;
  }
}

.custom-image-form{
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  cursor: pointer;
  height: 36px;
  overflow: hidden;
  padding: 2px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 250px;
  margin: 0.2rem 0;

  &__sb{
    background-color: #00c400;
    border: 1px solid #00c400;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    height: 30px;
    overflow: hidden;
    min-width: 50px;
    padding: 0 0.1rem;
    font-size: 14px;
    line-height: 1.8;
  }

  &__fp{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
  }

  &__label{
    overflow: hidden;
    float: left;
    max-width: 55%;
  }
}