.button{
  font-family: 'Didact Gothic', sans-serif;
  border-radius: 3px;
  border: 1px;
  text-align: center;
  margin: 0.5rem;
  height: 30px;
  min-width: 100px;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.932);
  background-color: #00c400;

  &_alert{
    background-color: #ff412d;
  }
}