.item-form{
  margin: 0 auto;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;

  input[type="checkbox"]{
    cursor: pointer;
    vertical-align: middle;
  }

  input[type="text"]{
    font-family: 'Didact Gothic', sans-serif;
    width: 100%;
    height: 30px;
    display: block;
    line-height: 1.21;
    padding: 11px 20px 12px 5px;
    min-width: 100px;
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    font-size: 14px;
    margin: 0.2rem auto;
  }

  &__description{
    font-family: 'Didact Gothic', sans-serif;
    width: 100%;
    min-height: 100px;
    min-width: 200px;
    display: block;
    line-height: 1.21;
    padding: 11px 20px 12px 5px;
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    font-size: 14px;
    margin: 0.2rem auto;
    resize: none;
  }

  &__group{
    width: 100%;
    margin: 0.5rem auto;
  }
}